# 依赖
node_modules/
.pnp
.pnp.js

# 构建产物
dist/
dist-ssr/
*.local

# 编辑器
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.*.local

# Cloudflare
.wrangler/
.dev.vars

# 临时
.cache/
.tmp/
